## **Agenda**

### What is Tuple?
### Different ways of creating Tuples?
### How to call Tuple elements?
### How to apply different Tuple operations?
### What are the built-in functions availble in Tuples?

# **Tuples**

- Tuples are used to store multiple items in a single variable.

- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

- A tuple is a collection which is ordered and unchangeable.

- Tuples are written with round brackets.

### Definition:
- Collection which can be indexed but immutable
- So once we declare the tuple, we can not edit the data
- tuple will be declared using `()`

### Tuple declaration

In [ ]:
a = (1,4,5)
print(a)
print(type(a))

(1, 4, 5)
<class 'tuple'>

In [ ]:
a = (1)
print(a)
print(type(a))

1
<class 'int'>

### Tuple Items
- Tuple items are ordered, unchangeable, and allow duplicate values.

- Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

#### Ordered
- When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

#### Unchangeable
- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

#### Allow Duplicates
- Since tuples are indexed, they can have items with the same value:

In [ ]:
ex = ("apple", "banana", "cherry", "apple", "cherry") #allows duplicates
print(ex)

('apple', 'banana', 'cherry', 'apple', 'cherry')

### How to add elements in tuple?

In [ ]:
a = ("a","b")
b = ("c","d")

t1 = a + b
print(t1)

('a', 'b', 'c', 'd')

In [ ]:
a = (1,2,3,4,5,6,7,8,9)

t1 = a[:5] + (600,) + a[7:]
t1

(1, 2, 3, 4, 5, 600, 8, 9)

### How to access Tuple Items
- we can access tuple items by referring to the index number, inside square brackets:
  - Index starts from 0.

In [ ]:
t = ("a", "b", "c")
print(t[0])
print(t[1])
print(t[2])

a
b
c

### Negative Indexing

In [ ]:
t = ("a", "b", "c")
print(t[-1])

c

### Range of Indexes
- we can specify a range of indexes by specifying where to start and where to end the range.

- When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
t = ("a", "b", "c", "d", "e", "f", "g")
print(t[2:5]) #will start at index 2 (included) and end at index 5 (not included)

('c', 'd', 'e')

In [ ]:
t = ("a", "b", "c", "d", "e", "f", "g")
print(t[:4]) #returns the items from the beginning to, but NOT included, "e"

('a', 'b', 'c', 'd')

In [ ]:
t = ("a", "b", "c", "d", "e", "f", "g")
print(t[2:]) #returns the items from "c" and to the end

('c', 'd', 'e', 'f', 'g')

### Change Tuple Values
- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

- But there is a workaround. We can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("a", "b", "c")
y = list(x)
y[1] = "g"
x = tuple(y)
print(x)

('a', 'g', 'c')

### Add Items
- Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.
##### Method1
- Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
t = ("a", "b", "c")
y = list(t)
y.append("d")
t = tuple(y)
t

('a', 'b', 'c', 'd')

##### Method2
- Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [ ]:
t = ("a", "b", "c")
y = ("d",)
t += y

print(t)

('a', 'b', 'c', 'd')

### Remove Items

#### You cannot remove items in a tuple directly
- you can convert it into a list, remove your item(s), and convert it back into a tuple.

In [ ]:
t = ("a", "b", "c")
y = list(t)
y.remove("a")
t = tuple(y)
t

('b', 'c')

#### you can delete the tuple completely

- The del keyword can delete the tuple completely

In [ ]:
t = ("a", "b", "c")
del t
print(t) #this will raise an error because the tuple no longer exists

NameError: name 't' is not defined

#### Packing a Tuple
- When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [ ]:
#Packing a tuple:

t = ("a", "b", "c")
t

('a', 'b', 'c')

#### UnPacking a Tuple

- We are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
#Unpacking a tuple:

t= ("a", "b", "c")

(green, yellow, red) = t

print(green)
print(yellow)
print(red)

a
b
c

#### Using Asterisk*
- If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list

In [ ]:
#Assign the rest of the values as a list called "red":

t = ("a", "b", "c", "s", "r")

(green, yellow, *red) = t

print(green)
print(yellow)
print(red)

a
b
['c', 's', 'r']

- If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [ ]:
#Add a list of values the "tropic" variable:

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(*green, tropic, red) = fruits

print(green)
print(tropic)
print(red)

['apple', 'mango', 'papaya']
pineapple
cherry

## Loop Through a Tuple

- You can loop through the tuple items by using a for loop.

In [ ]:
t = ("a", "b", "c")
for x in t:
    print(x)

a
b
c

### Loop Through the Index Numbers

- You can also loop through the tuple items by referring to their index number.

- Use the range() and len() functions to create a suitable iterable.

In [ ]:
#Print all items by referring to their index number:
t = ("a", "b", "c")
for i in range(len(t)):
    print(t[i])

a
b
c

### Using a While Loop

- You can loop through the list items by using a while loop.

- Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

- Remember to increase the index by 1 after each iteration.

In [ ]:
#Print all items, using a while loop to go through all the index numbers:

t = ("a", "b", "c")
i = 0
while i < len(t):
    print(t[i])
    i = i + 1

a
b
c

### Join Two Tuples
- To join two or more tuples you can use the + operator:

In [ ]:
#Join two tuples:

t1 = ("a", "b" , "c")
t2 = (1, 2, 3)

t3 = t1 + t2
print(t3)

('a', 'b', 'c', 1, 2, 3)

### Multiply Tuples
- If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [ ]:
#Multiply the fruits tuple by 2:

t = ("a", "b", "c")
mytuple = t * 2

print(mytuple)

('a', 'b', 'c', 'a', 'b', 'c')

## Tuple Methods

- Python has two built-in methods that you can use on tuples.

- **count()** ---> Returns the number of times a specified value occurs in a tuple
- **index()** ---> Searches the tuple for a specified value and returns the position of where it was found

#### count()

In [ ]:
t = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = t.count(5)

print(x)

2

####   index()

In [ ]:
# tuple containing vowels
vowels = ('a', 'e', 'i', 'o', 'u')

# index of 'e' in vowels
index = vowels.index('e')

print(index)

1

## Built-In Functions

- len() ---	Returns length of the tuple or size of the tuple
- max()	--- return maximum element of given tuple
- min()	--- return minimum element of given tuple
- sum() ---	Sums up the numbers in the tuple
- sorted() ---	input elements in the tuple and return a new sorted list
- tuple() ---	Convert an iterable to a tuple.

In [ ]:
tup = (1,2,3)
print(len(tup))

3

In [ ]:
t=(456, 700, 200)
max(t)

700

In [ ]:
t=(456, 700, 200)
min(t)

200

In [ ]:
t=(456, 700, 200)
sum(t)

1356

In [ ]:
t=(456, 700, 200)
sorted(t)

[200, 456, 700]

### Tuple inside a list

In [ ]:
a = [("Sara",45),("Milan",15)]
a[0]

('Sara', 45)

In [ ]:
a[0][0]

'Sara'

In [ ]:
students = [
    (1, "sandhya", "data science", ["python","C"]),
    (2, "abhilash", "data science", ["python","java"]),
    (3, "ram", "data science", ["C","C++"])
]
students

[(1, 'sandhya', 'data science', ['python', 'C']),
 (2, 'abhilash', 'data science', ['python', 'java']),
 (3, 'ram', 'data science', ['C', 'C++'])]

### packing and unpacking

In [ ]:
a = 10
b = 20

t1 = (a, b)
print(t1)

(10, 20)

In [ ]:
x, y = t1
print(x)
print(y)

10
20

In [ ]:
a = (11,23,45)
print(len(a))
print(sum(a))
print(min(a))
print(max(a))

3
79
11
45

## Tuple indexing
- we can apply all the list indexing steps on the tuples

In [ ]:
li = (5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1)
li

(5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1)

In [ ]:
li[0]

5

In [ ]:
li[:]

(5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1)

In [ ]:
li[0:]

(5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1)

In [ ]:
li[:-1]

(5, 10000, 4, 4, 3, 3, 3, 2, 2, 1, 1)

#### ::-1 will reverse a tuple

In [ ]:
li[::-1]

(1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 10000, 5)